/*登录*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.login-fl{
    width: 50%;
    height:100%;
    background:rgba(74,134,255,1);
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-fl p:nth-child(1){
    font-size:0.16rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.login-fl p:nth-child(2){
    font-size:0.4rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.login-fl p:nth-child(3){
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.login-fr{
    width: 50%;
    height:100%;
    background:rgba(255,255,255,1);
}
.login-form{
    width:5rem;
    height:5.9rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0.1rem 0.48rem 0.03rem rgba(12,17,26,0.1);
    border-radius:0.2rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.96rem 1rem 1rem 1rem;
}
.login-form .top{
    text-align: center;
}
.login-form .top .title{
    font-size:0.24rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height: 0.48rem;
}
.login-form .top div{
    width:0.3rem;
    height:0.04rem;
    background:rgba(74,134,255,1);
    margin: 0 auto;
}
.login-form .email,.login-form .pwd{
    border-bottom: 0.01rem solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-form .email input,.login-form .pwd input{
    width: 100%;
    font-size:0.16rem;
    padding: 0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    outline: none;
}
.login-form .email img,.login-form .pwd img{
    height: 0.16rem;
    width: 0.18rem;
}
.login-form .email{
    margin-bottom: 0.56rem;
    margin-top: 1rem;
}
.login-form .pwd{
    margin-bottom: 0.48rem;
}
.login-form form .login{
    cursor: pointer;
    display: block;
    width:100%;
    height:0.4rem;
    line-height: 0.4rem;
    margin-bottom: 0.29rem;
    background:rgba(74,134,255,1);
    border-radius:0.2rem;
    font-size:0.14rem;
    text-align: center;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.login-form form p a:nth-child(1){
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(153,153,153,1);
}
.login-form form p a:nth-child(2){
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(74,134,255,1);
}
