/*login*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.login-fl{
    width: 50%;
    height:100%;
    background:rgba(74,134,255,1);
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-fl p:nth-child(1){
    font-size:0.16rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.login-fl p:nth-child(2){
    font-size:0.4rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.login-fl p:nth-child(3){
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.login-fr{
    width: 50%;
    height:100%;
    background:rgba(255,255,255,1);
}
.login-form{
    width:5rem;
    height:5.9rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0.1rem 0.48rem 0.03rem rgba(12,17,26,0.1);
    border-radius:0.2rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.96rem 1rem 1rem 1rem;
}
.login-form .top{
    text-align: center;
}
.login-form .top .title{
    font-size:0.24rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height: 0.48rem;
}
.login-form .top div{
    width:0.3rem;
    height:0.04rem;
    background:rgba(74,134,255,1);
    margin: 0 auto;
}
.login-form .email,.login-form .pwd{
    border-bottom: 0.01rem solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-form .email input,.login-form .pwd input{
    width: 100%;
    font-size:0.16rem;
    padding: 0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    outline: none;
}
.login-form .email img,.login-form .pwd img{
    height: 0.16rem;
    width: 0.18rem;
}
.login-form .email{
    margin-bottom: 0.56rem;
    margin-top: 1rem;
}
.login-form .pwd{
    margin-bottom: 0.48rem;
}
.login-form form .login{
    cursor: pointer;
    display: block;
    width:100%;
    height:0.4rem;
    line-height: 0.4rem;
    margin-bottom: 0.29rem;
    background:rgba(74,134,255,1);
    border-radius:0.2rem;
    font-size:0.14rem;
    text-align: center;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.login-form form p a:nth-child(1){
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(153,153,153,1);
}
.login-form form p a:nth-child(2){
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(74,134,255,1);
}
/*home*/
.side-bar{
    width: 18%;
    height: 100vh;
    position: fixed;
    background:rgba(242,241,248,1);
    padding-top: 0.9rem;
}
.side-bar ul li{
    width: 100%;
    padding-left: 40%;
    padding-top: 0.19rem;
    padding-bottom: 0.19rem;
    font-size:0.18rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(144,147,160,1);
    position: relative;
}
.side-bar ul li span{
    background:rgba(141,160,178,1);
    border-radius:0.12rem;
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    padding: 0.01rem 0.09rem;
    margin-left: 0.2rem;
}
.side-bar ul li.active{
    color:rgba(51,51,51,1);
}
.side-bar ul li.active span{
    background:rgba(25,129,255,1);
}
.side-bar ul li.active:before{
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 52%;
    width:0.5rem;
    height:0.02rem;
    background:rgba(153,153,153,1);
}
.side-bar ul li.active:before{
    left: 14%;        /*调整背景横线的左右距离*/
}
.side-bar ul li img{
    margin-left: 0.16rem;
    width: 0.1rem;
    height: 0.1rem;
}
.side-bar .check{
    color: #1981FF
;
}
.content{
    width: 82%;
    background:#F9F9FC;
}
.content .content-nav{
    z-index: 9999;
    height: 0.9rem;
    width: 100%;
    position: fixed;
    background:rgba(255,255,255,1);
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.content .content-nav>ul{
    position: absolute;
    right: 4rem;
    top: 0;
    padding: 0;
}
.content-nav-item {
    margin: 0 0.2rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 0.9rem;
}
.content-nav-item img {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.09rem;
}
.content-nav ul>img {
    width: 0.4rem;
    height: 0.4rem;
    background: rgba(224,224,224,1);
    border-radius: 50%;
}
.content-main{
    margin-top: 0.9rem;
    width: 100%;
    padding: 0.3rem;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: center;*/
}
.home-content-main-left{
    width: 50%;
    height: 10rem;
    margin-right: 0.15rem;
}
.home-main-left-item{
    float: left;
    display: inline-block;
    width: 48%;
    margin-bottom: 0.2rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0rem 0.2rem 0rem rgba(207,207,207,0.7);
    padding: 0.35rem 0.3rem 0.15rem;
}
.home-main-left-item p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-main-left-item p:nth-child(1){
    font-size:0.16rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(25,129,255,1);
    margin-bottom: 0.3rem;
}
.home-main-left-item p:nth-child(1) .fr{
    color:rgba(255,133,95,1);
}
.home-main-left-item p:nth-child(2){
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin-bottom: 0.3rem;
}
.home-main-left-item p:nth-child(2) span{
    color: #FF4242;
}
.home-main-left-item .layui-progress{
    height:0.16rem;
    line-height: 0.16rem;
    width: 100%;
    background:rgba(25,129,255,0.1);
    border-radius:0.08rem;
    margin-bottom: 0.3rem;
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(25,129,255,0.8);
}
.home-main-left-item .layui-progress .layui-progress-bar{
    height:0.12rem;
    background:rgba(25,129,255,1);
    border-radius:0.06rem;
    display: inline-block;
    position: relative;
    left: 0.02rem;
}
.home-main-left-item p:nth-child(4){
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-bottom: 0.24rem;
}
.home-main-left-item-danger{
    border-top: 0.06rem solid #FF7D7D;
}
.home-main-left-item-primary{
    border-top: 0.06rem solid #4A9CFF;
}
.home-main-left-item-success{
    border-top: 0.06rem solid #66C69A;
}
.home-main-left-item-warning{
    border-top: 0.06rem solid #FF905A;
}
.home-main-left-item-footer{
    border-top:0.02rem solid #F5F5F5;
    padding-top: 0.13rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.home-main-left-item-footer div{
    width:0.8rem;
    height:0.3rem;
    line-height: 0.3rem;
    background:rgba(25,129,255,0.1);
    border-radius:0.15rem;
    text-align: center;
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.home-content-main-left .home-main-left-item:nth-child(2n){
    margin-left: 2%;
}
.home-content-main-left .home-main-left-item:nth-child(2n+1){
    margin-right: 2%;
}
.home-content-main-right{
     margin-left: 0.15rem;
     width: 50%;
     height: 10rem;
 }
.g-panel{
    width: 100%;
    background:rgba(255,255,255,1);
    padding: 0.3rem;
}
.g-panel .panel-title{
    font-size:0.16rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.g-panel .panel-title .panel-title-bottom{
    margin-top: 0.19rem;
    width:0.3rem;
    height:0.04rem;
    background:rgba(25,129,255,1);
}
.home-content-main-right .g-panel{
    width: 48%;
    float: left;
}
.home-content-main-right .g-panel:nth-child(1){
    margin-right: 2%;
}
.home-content-main-right .g-panel:nth-child(2){
    margin-left: 2%;
}
.home-panel-content-item{
    width: 100%;
    margin-top: 0.3rem;
    background:rgba(233,240,255,1);
    border-radius:0.05rem;
    padding: 0.18rem 0.2rem 0.2rem 0.2rem;
}
.home-panel-content-title{
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    padding-bottom: 0.19rem;
    border-bottom: 0.01rem solid rgba(25,129,255,0.1);
}
.home-panel-content-title .fr{
    color: #666666;
}
.home-panel-content-title-body{
    padding-top: 0.2rem;
}
.home-panel-content-title-body .fl img{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.15rem;
}
.home-panel-content-title-body .order-info p:first-child{
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.home-panel-content-title-body .order-info p:last-child{
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.home-panel-content-title-body .fr img{
    width: 0.18rem;
    height: 0.18rem;
}
.home-panel-content-title-body div:last-child{
    clear: both;
}
.home-panel-content-title-body .avatar{
    width:0.3rem;
    height:0.3rem;
    background:rgba(25,129,255,1);
    opacity:0.2;
    border-radius:50%;
    margin-right: 0.16rem;
}
.home-panel-content-title-body .chart-info{
    width: 80%;
}
.home-panel-content-title-body .chart-info p:first-child{
    font-size:0.12rem;
    margin-bottom: 0.19rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.home-panel-content-title-body .chart-info p:last-child{
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
}
/*active*/
.top-nav{
    height: 0.9rem;
    line-height: 0.9rem;
    padding-left: 0.6rem;
}
.top-nav ul li{
    display: inline-block;
    font-size:0.16rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(170,170,170,1);
    margin-right: 0.3rem;
}
.top-nav ul li span{
    width: 0.28rem;
    height: 0.28rem;
    display: inline-block;
    line-height: 0.28rem;
    text-align: center;
    background:rgba(141,160,178,1);
    border-radius:50%;
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
    margin-right: 0.15rem;
}
.top-nav ul li.active{
     font-weight:bold;
     color:rgba(36,38,57,1);
 }
.top-nav ul li.active span{
    color:rgba(255,255,255,1);
    background:rgba(25,129,255,1);
}
.active-content-main-left{
    width: 35%;
    height: 10rem;
    margin-right: 0.15rem;
}
.active-content-main-right{
    margin-left: 0.15rem;
    width: 65%;
    height: 10rem;
}
.active-main-left-item {
    width: 100%;
    margin-bottom: 0.2rem;
    background: rgba(255,255,255,1);
    box-shadow: 0rem 0rem 0.2rem 0rem rgba(207,207,207,0.7);
    padding: 0.35rem 0.3rem 0.15rem;
}

.active-main-left-item p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.active-main-left-item p:nth-child(1){
    font-size: 0.14rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(102,102,102,1);
    margin-bottom: 0.3rem;
}
.active-main-left-item p:nth-child(1) span{
    color: #FF4242;
}
.active-main-left-item p:nth-child(1) span.fr{
    font-weight:bold;
    color: #1981FF;
}
.active-main-left-item p:nth-child(3){
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-bottom: 0.24rem;
}
.active-main-left-item p:nth-child(3) span{
    font-weight:bold;
    color: #FF4242;
}
.active-main-left-item .layui-progress{
    height:0.16rem;
    line-height: 0.16rem;
    width: 100%;
    background:rgba(25,129,255,0.1);
    border-radius:0.08rem;
    margin-bottom: 0.3rem;
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(25,129,255,0.8);
}
.active-main-left-item .layui-progress .layui-progress-bar{
    height:0.12rem;
    background:rgba(25,129,255,1);
    border-radius:0.06rem;
    display: inline-block;
    position: relative;
    left: 0.02rem;
}
.active-main-left-item:hover{
    background:rgba(74,156,255,1);
    cursor: pointer;
}
.active-main-left-item:hover p,.active-main-left-item:hover p span,.active-main-left-item:hover p span.fr,.active-main-left-item:hover div{
    color: #FFFFFF;
}
.active-main-left-item:hover .layui-progress{
    color:rgba(255,255,255,0.8);
}
.active-main-left-item-danger{
    border-left: 0.06rem solid #FF7D7D;
}
.active-main-left-item-primary{
    border-left: 0.06rem solid #4A9CFF;
}
.active-main-left-item-success{
    border-left: 0.06rem solid #66C69A;
}
.active-main-left-item-warning{
    border-left: 0.06rem solid #FF905A;
}
.active-content-main-right .panel-content .layui-form .layui-form-label {
    font-size: 0.16rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color:rgba(51,51,51,1);
    padding: 0;
    float: none;
    margin-bottom: 0.1rem;
    text-align: left;
    vertical-align: unset;
}
.layui-input, .layui-textarea, .layui-upload-drag {
    font-size: 0.14rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51,51,51,1);
    background: rgba(233,240,255,1);
    border-radius: 0.05rem;
    border: 0;
    height: 0.36rem;
}
.layui-form-selected dl {
    font-size: 0.14rem;
}
.active-content-main-right .panel-content .layui-form .layui-form-item .layui-inline {
    width: 48%;
}
.panel-content .layui-form .layui-form-item .layui-input-inline {
    width: 80%;
    height: 0.36rem;
}
.active-content-main-right .g-panel{
    border-bottom: 0.05rem solid #FAFAFA;
}
.active-content-main-right .opera-area{
    margin: 0.33rem 0.05rem 0.19rem;
    overflow:auto;
}
.active-content-main-right .opera-area ul{
    margin-top: 0.2rem;
}
.active-content-main-right .opera-area ul li{
    display: inline-block;
    background:rgba(25,129,255,0.1);
    border-radius:0.2rem;
    font-size:0.16rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-right: 0.5rem;
    padding: 0.1rem 0.3rem;
}
.active-content-main-right .opera-area div{
    border-left: 1px dashed rgba(208,208,208,1);
    padding-left: 0.7rem;
    padding-right: 0.3rem;
}
.active-content-main-right .opera-area div p:nth-child(1){
    font-size:0.16rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.active-content-main-right .opera-area div p:nth-child(2){
    font-size:0.4rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(25,129,255,1);
}
/*settings*/
.content-main-4{
    padding: 0.4rem;
    margin-right: 0.3rem;
    height: 9rem;
    background: rgba(255,255,255,1);
    width: 100%;
}
.content-main .content-main-4:last-child{
    margin-right: 0;
}
.content-main .content-main-4{
    padding: 0.5rem;
}
/*settings--price*/
.content-main-3{
    padding: 0.4rem;
    margin-right: 0.3rem;
    height:9rem;
    background:rgba(255,255,255,1);
    width: 100%;
}
.price-service{
    text-align: center;
    cursor: pointer;
}
.price-service img {
    margin-top: 0.6rem;
    width: 0.7rem;
    height: 0.7rem;
}
.price-service p{
    font-size:0.16rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.content-main .content-main-3:nth-child(1) .price-service{
    background: url(../../images/settings/service-bg-1.png) center 0.47rem no-repeat;
    background-size: 1.38rem 0.9rem;
}
.content-main .content-main-3:nth-child(2) .price-service{
    background: url(../../images/settings/service-bg-2.png) center 0.47rem no-repeat;
    background-size: 1.38rem 0.9rem;
}
.content-main .content-main-3:nth-child(3) .price-service{
    background: url(../../images/settings/service-bg-3.png) center 0.47rem no-repeat;
    background-size: 1.38rem 0.9rem;
}
.content-main .content-main-3:nth-child(4) .price-service{
    background: url(../../images/settings/service-bg-4.png) center 0.47rem no-repeat;
    background-size: 1.38rem 0.9rem;
}
.price .layui-form-label {
    font-size: 0.14rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color:rgba(102,102,102,1);
    padding: 0;
    float: none;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    text-align: left;
    vertical-align: unset;
}
.price .layui-input-block{
    margin-left: 0;
    margin-bottom: 0.3rem;
}
/*writer*/
.search-area{
    width:100%;
    height:1rem;
    line-height: 1rem;
    background:rgba(255,255,255,1);
    margin-bottom: 0.3rem;
    padding: 0.05rem 0.3rem;
}
.search-area .layui-form-item{
    margin-bottom: 0;
}
.writer .content-main-6{
    width: 49%;
    height: 1rem;
    margin-bottom: 0.2rem;
    background-color: #FFFFFF;
    padding: 0.22rem 0.3rem;
}
.writer .content-main-6:nth-child(2n+1){
    margin-right:1%;
    float: left;
}
.writer .content-main-6:nth-child(2n){
    margin-left:1%;
    float: right;
}
.writer .content-main-6 .layui-form-item .layui-inline{
    margin: 0;
}
.writer form{
    width: 100%;
}
.writer .layui-form-item{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.writer .content-main-6 img{
    /*width: 0.14rem;*/
    /*height: 0.14rem;*/
}
.writer .visibility input,.writer .visibility img{
    visibility: hidden;
}
.writer .visibility{
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(153,153,153,1);
    background: rgba(255,255,255,0);
    margin-top: -0.8rem;
}
.writer .search-area .fl{
    font-size:0.16rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(25,129,255,1);
}
.writer .search-area .fr span{
    background:rgba(25,129,255,1);
    border-radius:0.18rem;
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    padding: 0.09rem 0.18rem;
}
.writer .search-area{
    background: rgba(255,255,255,0);
}
/*team*/
.search-area .layui-form .layui-form-label {
    font-size: 0.12rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51,51,51,1);
    padding: 0;
    float: none;
    margin-bottom: 0.1rem;
    text-align: left;
    vertical-align: unset;
}
.search-area .fr span{
    border-radius:0.18rem;
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    padding: 0.09rem 0.18rem;
}
.search-area .fr #add{
    background:rgba(25,129,255,1);
    margin-right: 0.4rem;
}
.search-area .fr #delete{
    background:rgba(255,90,90,1);
}
.team thead th{
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(153,153,153,1);
}
.team .content-main-container{
    width:100%;
    background:rgba(255,255,255,1);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.team .content-main-container tbody tr{
    background:rgba(233,240,255,1);
    border-radius:0.05rem;
}
.team .content-main-container tbody td{
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.text-align-center{
    text-align: center;
}
.team .content-main-container tbody .opera span{
    border-radius:0.15rem;
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    padding: 0.04rem 0.15rem;
}
.team .content-main-container tbody .opera span:nth-child(1){
    background:rgba(81,192,59,0.6);
    margin-right: 0.4rem;
}
.team .content-main-container tbody .opera span:nth-child(2){
    background:rgba(25,129,255,0.6);
    margin-right: 0.4rem;
}
.team .content-main-container tbody .opera span:nth-child(3){
    background:rgba(248,120,50,0.6);
    margin-right: 0.4rem;
}
/*order-history*/
.order-history-price{
    color:rgba(255,110,40,1)!important;
    font-weight:400;
}
/*payment*/
.payment .content-main-4{
    width: 100%;
    margin-right: 0.3rem;
}
.payment .content-main-4:last-child{
    margin-right: 0;
}
.payment .panel-title .fr{
    font-size:0.2rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(25,129,255,1);
}
.payment .panel-title .delete{
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,62,62,1);
}
.payment thead th {
    font-size: 0.12rem;
    font-family: MicrosoftYaHei;
    font-weight: bold;
    color: rgba(153,153,153,1);
}
.payment .content-main-container tbody tr {
    background: rgba(233,240,255,1);
    border-radius: 0.05rem;
}
.payment .content-main-container tbody td {
    font-size: 0.14rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51,51,51,1);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.payment .payment-price-item{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.3rem 0.4rem;
    width:4.3rem;
    background:rgba(233,240,255,1);
    border-radius:0.05rem;
}
.payment .payment-price-item p:nth-child(1){
    font-size:0.16rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(25,129,255,1);
    margin-bottom: 0.4rem;
}
.payment .payment-price-item p:nth-child(2){
    font-size:0.24rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-bottom: 0.4rem;
}
.payment .payment-price-item p:nth-child(3){
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.payment .payment-minus{
    text-align: center;
    width:0.02rem;
    height:0.2rem;
    background:rgba(133,145,159,1);
    margin: 0 auto;
}
.payment .payment-equal{
    width: 0.06rem;
    height:0.2rem;
    border-left: 0.02rem solid rgba(133,145,159,1);
    border-right: 0.02rem solid rgba(133,145,159,1);
    margin: 0 auto;
}
