/*登录页面*/
.login-container{
    width:100%;
    background:rgba(255,255,255,1);
}
.login-container img:first-child{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4.91rem;
    margin-top: -2.36rem;
    width: 9.83rem;
    height: 4.73rem;
}
.login-main{
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.45rem;
    margin-top: -2.77rem;
    width:5.01rem;
    height:5.53rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0.08rem 0.2rem 0rem rgba(221,227,238,1);
    opacity:0.4;
    padding: 0.73rem 1.08rem 0.64rem 0.93rem;
    text-align: center;
}
.login-main .top .active {
    line-height:0.45rem;
    border-bottom: 0.02rem solid #4A86FF;
    padding-bottom: 0.19rem;
}
.login-main .top .active a{
    font-size:24px;
    font-weight:bold;
    color:#4A86FF;
}
.login-main .top li{
    display: inline-block;
    width: 1.4rem;
    margin-bottom: 0.5rem;
}
.login-main .top li a{
    font-size:20px;
    font-weight:bold;
    color:rgba(153,153,153,1);
    line-height:0.45rem;
    text-decoration: none;
}
.login-main input{
    margin: auto;
    width:3rem;
    height:0.4rem;
    border: 0rem;
    box-shadow:0rem 0.08rem 0.2rem 0rem rgba(221,227,238,1);
    border-radius:0.1rem;
    font-size:0.14rem;
    padding: 0.13rem 0.24rem;
    background-color: #fff;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:0.45rem;
    margin-bottom: 0.3rem;
}
.login-main .login-form-footer{
    height: 0.4rem;
}
.login-main .footer img{
    height:0.2rem;
    width:0.62rem;
}
.login-main .footer li{
    font-size:0.14rem;
    line-height:0.45rem;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.login-main .login-form-footer a{
    font-size:0.14rem;
    font-weight:bold;
    color:rgba(74,134,255,1);
    line-height:0.14rem;
    margin-top: 0.13rem;
    text-decoration: none;
}
.login-main .footer .left,.login-main .footer .right{
    width: 0.5rem;
    height: 0.07rem;
    border-bottom: 0.01rem solid #666666;
    margin-top: 0.16rem;
}
.login-main .footer ul{
    display: inline-flex;
}
.login-main .footer ul li span{
    margin-left: 0.29rem;
    margin-right: 0.29rem;
}
.btn{
    font-size:0.14rem;
    line-height:0.14rem;
    font-weight:bold;
    border-radius:0.1rem;
    padding: 0.13rem 0.35rem 0.13rem 0.36rem;
    border: 0rem;
}
.btn-active,.btn-active:hover{
    color:rgba(255,255,255,1);
    background:#4A86FF;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.show{
    display: block;
}
.hide{
    display: none;
}

/*index*/
.index-bj{
    position: relative;
    width: 100%;
    height: 60rem;
    margin-top:-60rem;
}
.index-bj img{
    width: auto;
    height:auto;
    max-height: 100%;
    max-width: 100%;
}
.index-bj-1{
    position: absolute;
    width: 54%;
    right: 0;
}
.index-bj-2{
    position: absolute;
    top: 10.57rem;
    /*height:12.71rem;*/
    /*width:100%;*/
}
.index-bj-3{
    position: absolute;
    left: 0;
    top:22.81rem;
    /*height:11.55rem;*/
    width:44.43%;
}
.index-bj-4{
    position: absolute;
    top:29.09rem;
    right:0;
    /*height:10.91rem;*/
    width:39.43%;
}
.index-bj-5{
    position: absolute;
    top: 37.52rem;
    left: 0;
    /*height:10.91rem;*/
    width:33.39%;
}
.index-bj-6{
    position: absolute;
    top: 43.92rem;
    /*height:11.16rem;*/
    /*width:100%;*/
}
.index-bj-7{
    position: absolute;
    top:56.2rem;
    /*height:3.8rem;*/
    /*width:100%;*/
}
.index-container{
    position: relative;
    z-index: 999;
    margin-left: 20.31%;
    width: 59.37%;
    height: 60rem;
}
.index-container-nav{
    width: 100%;
    height: 0.7rem;
    padding-top: 0.2rem;
}

.index-container-nav-left {
    /*width: 1.8rem;*/
    height: 0.5rem;
}
.index-container-nav-left .logo{
    width: 0.5rem;
    height: 0.5rem;
    float: left;
}
.index-container-nav-left div{
    float: left;
    margin-top: 0.1rem;
    margin-left: 0.19rem;
    /*width: 1.11rem;*/
    height: 0.36rem;
}
.index-container-nav-left div p:nth-child(1){
    height: 0.18rem;
    font-size:0.16rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(102,102,102,1);
}
.index-container-nav-left div p:nth-child(2){
    height: 0.12rem;
    font-size:0.12rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(254,179,0,1);
    line-height: 0.32rem;
}
.index-container-nav-right li{
    float: left;
    margin: 0 0.25rem;
    height: 0.5rem;
    line-height: 0.5rem;
}
.index-container-nav-right li a{
    font-size:0.14rem;
    font-weight:bold;
    font-family:MicrosoftYaHei;
    color:rgba(51,51,51,1);
}
.index-container-nav-right li a:hover{
    color:rgba(254,180,4,1);
}
.index-container-nav-right li:last-child a{
    font-size:0.12rem;
    line-height:0.12rem;
    font-weight:400;
    color:rgba(254,180,4,1);
    border:0.02rem solid rgba(254,180,4,1);
    border-radius:0.15rem;
    padding: 0.03rem 0.1rem;
}
.index-container-nav-right .active a{
    color:rgba(254,180,4,1);
}

.index-container-1{
    margin-top:1.82rem;
    height: 4.45rem;
}
.index-container-1 p:nth-child(1){
    height:0.41rem;
    font-size:0.4rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-left: -0.04rem;
}
.index-container-1 p:nth-child(2){
    height:0.14rem;
    font-size:0.18rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-top: 0.29rem;
    letter-spacing: 0.02rem;
    word-spacing: 0.03rem;
}
.index-container-1 p:last-child{
    margin-top: 0.49rem;
    width:2.2rem;
    height:0.65rem;
    background:linear-gradient(128deg,rgba(254,179,0,1),rgba(255,217,125,1));
    border-radius:0.05rem;
    line-height: 0.65rem;
    text-align: center;
}
.index-container-1 p:last-child a{
    font-size:0.16rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.index-container-1 ul{
    margin-top: 0.94rem;
}
.index-container-1 ul li{
    height:0.17rem;
    font-size:0.16rem;
    margin-top: 0.28rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.index-container-1 .circle{
    display: inline-block;
    width: 0.08rem;
    height: 0.08rem;
    background: rgba(51,51,51,1);
    border-radius: 50%;
    margin-right: 0.24rem;
}
.index-container-2{
    margin-top:3.2rem;
    height: 10.43rem;
}
.index-container-2 .index-container-2-section{
    height: 2.7rem;
}
.index-container-2 .index-container-2-top{
    margin-left: 50%;
    height: 0.1rem;
    width: 0.1rem;
    background: rgba(74,134,255,1);
    border-radius: 50%;
    left: -0.05rem;
    position: relative;
}
.index-container-2 .index-container-2-left{
    width: 50%;
    height: 2.7rem;
    float: left;
    padding-right: 0.59rem;
    text-align: right;
}
.index-container-2 .index-container-2-right{
    width: 50%;
    height: 2.7rem;
    float: right;
    padding-left: 0.58rem;
    border-left: 0.02rem solid #FECE5B;
}
.index-container-2 .index-container-2-section:last-child .index-container-2-right{
    border: 0;
}
.index-container-2 .index-container-2-title{
    font-size:0.18rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(74,134,255,1);
    line-height:0.35rem;
}
.index-container-2 .index-container-2-content{
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:0.34rem;
}
.index-container-2 .index-container-2-more a{
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:0.34rem;
}
.index-container-2 img{
    width: 2rem;
    height: 2rem;
}
.index-container-3{
    margin-top:1.79rem;
    height: 15.28rem;
}
.index-container-3 .index-container-3-top{
    height: 6.2rem;
}
.index-container-3 .index-container-3-top .index-container-3-top-left{
    width: 50%;
    height: 6.2rem;
    padding-right: 0.23rem;
    float: left;
}
.index-container-3 .index-container-3-top .index-container-3-top-left .index-container-3-top-left-section{
    width:2.40rem;
    height:2.40rem;
    background:linear-gradient(135deg,rgba(254,179,0,1),rgba(255,217,125,1));
    box-shadow:0rem 0.1rem 0.3rem 0rem rgba(95,122,177,0.32);
    border-radius:0.05rem;
    float: left;
    margin-bottom: 0.6rem;
    text-align: center;
    padding: 0.4rem 0.1rem;
}
.index-container-3 .index-container-3-top .index-container-3-top-left .index-container-3-top-left-section:nth-child(2n){
    float: right;
}

.index-container-3 .index-container-3-top .index-container-3-top-left .index-container-3-top-left-section:nth-child(2){
    margin-top: 0.8rem;
}
.index-container-3 .index-container-3-top .index-container-3-top-left .index-container-3-top-left-section p:first-child{
    font-size:0.5rem;
    font-family:MyriadPro-Regular;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.index-container-3 .index-container-3-top .index-container-3-top-right .index-container-3-top-right-section{
    margin-top: 0.8rem;
    width: 100%;
}
.index-container-3 .index-container-3-top .index-container-3-top-right .index-container-3-top-right-section:first-child{
    margin-top: 1.7rem;
}
.index-container-3 .index-container-3-top .index-container-3-top-right .index-container-3-top-right-section div:first-child{
    font-size:0.8rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(249,204,96,1);
    line-height:0.35rem;
    opacity:0.8;
    float: right;
    margin-left: 0.49rem;
}
.index-container-3 .index-container-3-top .index-container-3-top-right .index-container-3-top-right-section div:last-child{
     font-size:0.16rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:0.35rem;
    text-align: right;
    display: table;
}
.index-container-3 .index-container-3-top .index-container-3-top-left .index-container-3-top-left-section p span{
    vertical-align: super;
}
.index-container-3 .index-container-3-top .index-container-3-top-left .index-container-3-top-left-section p:last-child{
   font-size:0.2rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    margin-top: 0.2rem;
}
.index-container-3 .index-container-3-top .index-container-3-top-right{
    width: 50%;
    height: 6.2rem;
    float: left;
    padding-left: 0.23rem;
}
.index-container-3 .index-container-3-middle{
    margin-top:2.3rem;
    height: 4.12rem;
    width: 5.82rem;
    margin-left: auto;
    margin-right: auto;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0.08rem 0.2rem 0rem rgba(221,227,238,1);
    border-radius:0.2rem;
    text-align: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.index-container-3 .index-container-3-middle p{
    font-size:0.18rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(249,204,96,1);
    line-height:0.34rem;
}
.index-container-3 .index-container-3-middle>img{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.index-container-3 .index-container-3-middle .bxslider{
    padding-bottom: 0.4rem;
}
.index-container-3 .index-container-3-middle article div{
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(102,102,102,1);
    line-height:0.34rem;
    padding-left: 0.6rem;
    padding-right: 0.8rem;
}
.index-container-3 .index-container-3-middle article p{
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:0.45rem;
}
.index-container-4{
    margin-top:0.81rem;
    height: 3.68rem;
}
.index-container-4 .index-container-4-header p{
    text-align: center;
    font-size:0.3rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(74,134,255,1);
    line-height:0.26rem;
}
.index-container-4 .index-container-4-header p .big{
    font-size:0.6rem;
}
.index-container-4 .index-container-4-content{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.index-container-4 .index-container-4-content  img{
    width: 0.16rem;
    height: 0.23rem;
    margin-top: 0.66rem;
}
.index-container-4 .index-container-4-content .index-container-4-content-section{
    width: 1.5rem;
}
.index-container-4 .index-container-4-content .index-container-4-content-section div{
    width:1.5rem;
    height:1.5rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0.08rem 0.2rem 0rem rgba(221,227,238,1);
    border-radius:50%;
}
.index-container-4 .index-container-4-content .index-container-4-content-section div img{
    margin-left: 50%;
    margin-top: 50%;
    top: -0.2rem;
    left: -0.2rem;
    position: relative;
}
.index-container-4 .index-container-4-content .index-container-4-content-section p{
    margin-top: 0.4rem;
    font-size:0.20rem;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:0.26rem;
    text-align: center;
}
.index-container-4 .index-container-4-content .index-container-4-content-section img{
    width: 0.4rem;
    height: 0.4rem;
}
.index-container-5{
    margin-top:2.29rem;
    height: 8.31rem;
    text-align: center;
}
.index-container-5 img{
    width: 0.4rem;
    height: 0.4rem;
}
.index-container-5 .index-container-5-one{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    color:rgba(51,51,51,1);
}
.index-container-5 .index-container-5-one .index-container-5-one-section{
    width: 3.4rem;
    height: 3rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0.1rem 0.3rem 0rem rgba(184,190,201,0.32);
    border-radius:0.1rem;
}
.index-container-5 .index-container-5-one .index-container-5-one-section img{
    margin-top: 0.5rem;
}
.index-container-5 .index-container-5-one .index-container-5-one-section p{
    margin-top: 0.52rem;
    font-size:0.18rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
}
.index-container-5 .index-container-5-one .index-container-5-one-section div{
    margin-top: 0.29rem;
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    line-height:0.32rem;
    margin-left: 0.44rem;
    margin-right: 0.44rem;
}
.index-container-5 .index-container-5-two{
    width: 100%;
    height: 3rem;
    color:rgba(51,51,51,1);
    margin-top: 0.64rem;
    display: flex;
    justify-content: space-between;
}
.index-container-5 .index-container-5-two .index-container-5-two-section{
    width: 5.4rem;
    height: 3rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem 0.08rem 0.2rem 0rem rgba(221,227,238,1);
    border-radius:0.1rem;
}
.index-container-5 .index-container-5-two .index-container-5-two-section img{
    margin-top: 0.38rem;
}
.index-container-5 .index-container-5-two .index-container-5-two-section p{
    margin-top: 0.27rem;
    font-size:0.18rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
}
.index-container-5 .index-container-5-two .index-container-5-two-section div{
    margin-top: 0.29rem;
    font-size:0.14rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    line-height:0.32rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
/*.index-container-5 .index-container-5-two-section:hover{*/
    /*background:rgba(74,134,255,1);*/
    /*box-shadow:0rem 0.1rem 0.3rem 0rem rgba(184,190,201,0.32);*/
    /*cursor: pointer;*/
/*}*/
.index-container-5 .index-container-5-two .active{
    color:rgba(255,255,255,1);
    background:rgba(74,134,255,1);
    box-shadow:0rem 0.1rem 0.3rem 0rem rgba(184,190,201,0.32);
}
.index-container-5 p:nth-child(3){
    margin-top: 0.74rem;
    font-size:0.2rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:0.5rem;
}
.index-container-5 p:nth-child(4){
    margin-top: 0.31rem;
    width:1.50rem;
    height:0.4rem;
    background:rgba(74,134,255,1);
    box-shadow:0rem 0.03rem 0.1rem 0rem rgba(184,190,201,1);
    border-radius:0.05rem;
    margin-left: auto;
    margin-right: auto;
}
.index-container-5 p a{
    font-size:0.16rem;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    vertical-align: bottom;
}
